<!DOCTYPE html>
<html lang="de">

            border-radius: 4px;
        }
        .form-container button {
            padding: 10px 20px;
       
            background-color: #ff5722; /* Same color as the row headers */
            right: 0; /* Position at the right edge of the cell */
        }
        @media (min-width: 2560px) {
            .container {
                max-width: 2560px;
            }
        }
    </style>
    <script>
        window.onload = function() {
            document.getElementById('projektnummer').focus();
        };
    </script>
</head>

</html>